Package: com.0xkuj.notificationsgroupcounts
Section: 插件
Installed-Size: 416
Maintainer: 0xkuj
Architecture: iphoneos-arm64
Version: 1.0.5
Depends: mobilesubstrate (>= 0.9.5000)
Description: Count those notifications inside Apple notifications grouping!
Name: NotificationsGroupCount
Author: 0xkuj
icon: https://susudear.github.io/images/tongzhi.png
